
@import "tailwindcss";

.app-container {
    background-color: #f0f0f0b6; /* Gris clair */
    min-height: 100vh; /* Assure que le fond couvre toute la hauteur de la page */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  