@import "tailwindcss";
html, body {
  
    overflow-x: hidden; /* Empêche le scroll horizontal */
  }
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* Pour Internet Explorer et Edge */
  scrollbar-width: none;  /* Pour Firefox */
}
  
  